[defaults]
inventory = ansible/inventory.ini
host_key_checking = False
retry_files_enabled = False
local_tmp = .ansible/tmp
remote_tmp = /tmp/ansible-tmp
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
